/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

#forcegraph {
    border:1px solid #EEE;
    border-radius: 100px 100px 5px 5px;
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 47%, rgba(227,235,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(227,235,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 47%,rgba(227,235,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 47%,rgba(227,235,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 47%,rgba(227,235,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 47%,rgba(227,235,252,1) 100%); /* W3C */}

.node {
  cursor: pointer;
  font-family:Monaco,monospace;
  font-size:12px;
}

.link {
  fill: none;
}


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#FF9966;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
    margin:10px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('https://lh5.googleusercontent.com/-MJXctOEozYM/U_-PMI2ZQzI/AAAAAAAAAbk/I-9q9TdqyvI/w385-h513-no/slot3.JPG');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
    height:100%;
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar img.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  width:80%;
  margin:0 10% 0;
}
#sidebar li {
  margin:8px;
}
#sidebar .fa {
  font-size:15px;
}
#sidebar button {
padding:3px ;
  margin:10px 1px 10px 0;
}
#sidebar #mysites{
  border:2px solid #777777;
  border-radius:5px;
}

#sidebar #mysites img{
  width: 70px;
  height: 70px;
}

#sidebar li img{
  border-radius:5px;
  margin:8px;
}

#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  .box {
    position: relative;
  }
  #sidebar{
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:18px;
  }
  #sidebar img.logo {
    width:40%;
    margin:0 30% 0
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
  float:right;
}


.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
  white-space:nowrap;
  cursor:pointer;
}

small.text-muted2 {
    font-family:courier,courier-new,monospace;
    display:none;
    position:absolute;
    top:100%;
    width:100%;
    z-index:10;
    background-color:#EEE;
    border: 1px solid #222;
    border-radius:10px;
    padding:5px;
}

#skillbubbles text {
  font-size: 11px;
  pointer-events: none;
}

#skillbubbles text.parent {
  fill: #1f77b4;
}

#skillbubbles circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

#skillbubbles circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

#skillbubbles circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

#skillbubbles circle.child {
  pointer-events: none;
}


#chart .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
#chart .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
#chart .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
#chart .link:hover {
  stroke-opacity: .5;
}

#chart text{
  font-family:Courier;
}

